[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
requests = "*"
pillow = "*"
coverage = "*"
selenium = "*"
webdriver-manager = "*"
gunicorn = "*"
sentry-sdk = "*"

[requires]
python_version = "3.10"
