{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<header class="profile d-flex h-100">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-middle">
                <h2 class="text-uppercase text-white font-weight-bold">Malheureusement, aucun hébergement n'a été trouvé</h2>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>

{% endblock content%}