{% extends 'base.html' %}

{% block content %}

<header class="legals d-flex">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-uppercase text-white font-weight-bold">Mentions légales</h2>
                <hr class="divider my-4" />
            </div>
        </div>
    </div>
</header>
<section class="page-section d-flex h-50" id="#">
    <div class="container">
        <div class="row justify-content-center">
            <ul class="frame">
                <li><a href="https://startbootstrap.com/themes/creative/">Bootstrap</a> - <em>Utilisation d'un theme Bootstrap comme base de travail</em></li>
                <li><em>Photo de page de l'Accueil de </em><span class="legalsFabrice"><a href="https://unsplash.com/photos/rafblRbne3o" target="_blank"><i class="fas fa-camera"></i> Karsten Wurth</a></span></li>
                <li><a href="https://fontawesome.com/">Font Awesome</a> - <em>Icônes dans différentes pages</em></li>
                <li><em>Site et application réalisés par </em><span class="legalsFabrice"><a href="https://www.linkedin.com/in/fabrice-pringuet-5a55b796/" target="_blanck"><i class="fab fa-linkedin"></i> Fabrice Pringuet</a></span></li>
            </div>
        </div>
    </div>
</section>    

{% endblock %}