{% load static %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
    
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"><img src="{% static 'img/motor.svg' %}" alt="Logo MotoDodo" title="Logo MotoDodo" width="70" height="70"></a>
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">MotoDodo</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0 align-items-center">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <li class="nav-item">
                    <div class="input-group">
                        <form class="form-inline justify-content-center" action="{% url 'accomodation:search' %}" method="GET">
                            <input type="search" name="search" id="searchbox1" class="col-sm-5 col-5 form-control input-group" placeholder="Indiquez une ville">
                            <input class="btn btn-primary js-scroll-trigger" id="searchbutton1" type="submit" value="Rechercher">
                        </form>
                    </div>
                </li>
            
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'users:profile' %}"><i class="fas fa-motorcycle"></i> {{ request.user }}</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'accomodation:validation_waiting' %}"><i class="fas fa-user-shield"></i> Admin</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" id="button-fav" href="{% url 'users:fav' %}"><i class="fas fa-heart"></i> Favoris</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" id="button-add_accomodation" href="{% url 'accomodation:add' %}"><i class="fas fa-plus-circle"></i> Proposer un hébergment</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" id="button-logout" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'users:register' %}"><i class="fas fa-user-plus"></i> Créer un compte</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" id="button-login" href="{% url 'users:login' %}"><i class="fas fa-sign-in-alt"></i> Se connecter</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>